pip~=21.0.1
setuptools~=54.2.0
requests~=2.25.1
bs4~=0.0.1
lxml~=4.6.3
beautifulsoup4~=4.9.3
soupsieve~=2.2.1
wheel~=0.36.2
jsons~=1.4.2
typish~=1.9.2
certifi~=2020.12.5
chardet~=4.0.0
urllib3~=1.26.3
six~=1.15.0
idna~=2.10
progressbar~=2.5